* {
  margin: 0;
  padding: 0;
  font-family: Franklin Gothic Medium, Franklin Gothic, sans-serif;
  font-weight: normal;
  font-size:16px;
}

html, body {
background-color:	#F5F5F5;
}

.container {
  margin-top:100px;
  margin-bottom:100px;
}

.fullscreen {
  margin:0;
}

.sketch {
  margin:0;
  text-align:center;
  padding: 20px;
}

.h-block {
  margin:100px auto;
  text-align:center;
}
.h-block h1 {
  color:#000000;
    font-size: 4em;
}

.h2-block {
  margin:100px auto;
  text-align:center;
}
.h2-block h1 {
  color:#000000;
    font-size: 8em;
}

.txt-block {
  width: 100%;
  margin: 40px auto;
}

.txt-block h2 {
  color: #00000;
  font-family: Franklin Gothic Medium, Franklin Gothic;
  font-size: 4.0em;
  margin-bottom: 2px;
  text-align:center;
}

.txt-block p {
  font-size: 1.5em;
  line-height:0em;
  margin-bottom: 0px;
  text-align:center;
}

.img-block {
  width:90%;
  margin:auto;
  text-align:center;
}

.img-block figure {
  display: inline-block;
  width:70%;
}

.img-block figure img {
  padding:20px;
  width:80%;
}
/* style for the header menu */

header {
  position:fixed;
  top:0;
  left:0;
  background-color:	#000000;
  width:100%;
  text-align:center;
}

ul.menu {
  list-style-type: none;
  margin:auto;
}

ul.menu li {
  display: inline-block;
  text-align: center;
}

ul.menu li a {
  color: white;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.menu li a:hover {
  color: red;
}
